<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
<listeners><listener class-name="test.CustomListener"></listener>
</listeners>
	<test name="Test" thread-count="1" parallel="classes" >
	<classes><class name="test.ActionsClass"></class>
	<class name="test.Capability"></class>
	<class name="test.Dropdown"></class>
<!-- 	<class name="test.ExplicitWait"></class>
	<class name="test.IsDisplayedEnabledSelected"></class>	 -->
	</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
